# Proof modes are `mock`, `local` and `network`.
# Setting the `ZKM_PROVER` environment variable can change the prover used under the hood.
# - `local` (default): Uses [CpuProver] or [CudaProver] if the `cuda` feature is enabled.
#   Recommended for proving end-to-end locally.
# - `mock`: Uses [MockProver]. Recommended for testing and development.
# - `network`: Uses [NetworkProver]. Recommended for outsourcing proof generation to an RPC.
ZKM_PROVER=local

# To use the Succinct Prover Network, set the private key of the account you want to use for requesting proofs.
# Set up a new account here: https://docs.succinct.xyz/docs/network/developers/key-setup.
NETWORK_PRIVATE_KEY=


FIBONACCI_N=10